{{ define "main" }}
<article>
    <div class="container">
        <div class="row">
            <div class="
                col-lg-8 col-lg-offset-1
                col-md-8 col-md-offset-1
                col-sm-12
                col-xs-12
                post-container">

                {{ if eq (.Param "multilingual") true }}
                    {{ partial "multilingual-sel.html" . }}

                    <div class="zh post-container">
                        {{/* If you have a separate Chinese content file, include it here */}}
                        {{/* Example: "/about/index-zh.md" | readFile | markdownify */}}
                    </div>

                    <div class="en post-container">
                        {{ .Content }}
                    </div>
                {{ else }}
                    {{ .Content }}
                {{ end }}

                {{ partial "comments.html" . }}

            </div>

            <div class="
                col-lg-3
                col-md-3
                col-sm-12
                col-xs-12
                sidebar-container">
                {{ partial "sidebar.html" . }}
            </div>
        </div>
    </div>
</article>

{{ end }}