<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  {{ partial "head.html" . }}
  <body>
    {{ partial "nav.html" . }}

    <!-- Hero Header (Home Page Only) -->
    {{ if .IsHome }}
      {{ $img := .Site.Params.header_image | default "img/home-bg.jpg" }}
      <header class="intro-header" style="background-image: url('{{ $img | absURL }}'); background-size: cover; background-position: center center;">
        <div class="overlay"></div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 text-center">
              <div class="site-heading">
                <h1>{{ .Site.Params.slogan }}</h1>
              </div>
            </div>
          </div>
        </div>
      </header>
    {{ end }}

    <!-- Main Content -->
    {{ block "main" . }}{{ end }}

    {{ partial "footer.html" . }}
  </body>
</html>
